URxvt.perl-ext-common: selection-to-clipboard

URxvt.iso14755: false
URxvt.iso14755_52: false

urxvt*foreground: white
urxvt*background: black

!Normal      Bright
!--------    -------
!0 Black      8 Black
!1 Red        9 Red
!3 Yellow    11 Yellow
!2 Green     10 Green
!4 Blue      12 Blue
!5 Magenta   13 Magenta
!6 Cyan      14 Cyan
!7 White     15 White

!blue theme
!*.color4: #2165ad
!*.color12: #408cda

!green theme
*.color1: #821a1a
*.color9: #c22727

*.color2: #4e821a
*.color10: #719b47

*.color3: #adad23
*.color11: #d9d943

*.color4: #1a824e
*.color12: #58dd9a

*.color5: #4e1a82
*.color13: #835ea7

*.color6: #1a8282
*.color14: #5ea7a7

URxvt*.scrollBar: false
! URxvt*.transparent: true
! URxvt*.shading: 30

URxvt*.font: xft:DejavuSansMono:size=8

#define FONTSIZE0 8
#define FONTSIZE1 10
#define FONTSIZE2 12
#define FONTSIZE3 14
#define FONTSIZE4 16
#define FONTSIZE5 18
#define FONTSIZE6 20
#define FONTSIZE7 24
!
!URxvt.keysym.C-plus: command:\033]710;xft:DejavuSansMono:size=18\007
URxvt.keysym.C-M-0: command:\033]710;xft:DejavuSansMono:size=FONTSIZE0\007
URxvt.keysym.C-M-1: command:\033]710;xft:DejavuSansMono:size=FONTSIZE1\007
URxvt.keysym.C-M-2: command:\033]710;xft:DejavuSansMono:size=FONTSIZE2\007
URxvt.keysym.C-M-3: command:\033]710;xft:DejavuSansMono:size=FONTSIZE3\007
URxvt.keysym.C-M-4: command:\033]710;xft:DejavuSansMono:size=FONTSIZE4\007
URxvt.keysym.C-M-5: command:\033]710;xft:DejavuSansMono:size=FONTSIZE5\007
URxvt.keysym.C-M-6: command:\033]710;xft:DejavuSansMono:size=FONTSIZE6\007
URxvt.keysym.C-M-7: command:\033]710;xft:DejavuSansMono:size=FONTSIZE7\007

!nice fonts
URxvt.letterSpace: -1
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
