/* .config/gtk-3.0/gtk.css*/
/* shrink headebars */
headerbar {
	min-height: 0;
	padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
	margin-top: 1px; /* same as headerbar side padding for nicer proportions */
	margin-bottom: 1px;
}

/* shrink ssd titlebars */
.default-decoration {
	min-height: 0; /* let the entry and button drive the titlebar size */ 
	padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
	padding-right: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.default-decoration .titlebutton {
	min-height: 5px; /* tweak these two props to reduce button size */
	min-width: 5px;
}

/* reduce the padding size of buttons */
button, entry {
	min-height: 0;
	min-width: 0;
	padding: 2px;
}

/* reduce the padding of tabs */
notebook tab {
	min-height: 0;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* reduce the padding of buttons */
notebook tab button {
	min-height: 0;
	min-width: 0;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}
